


.reveal section img { background:none; border:none; box-shadow:none; }

.univ-icons {
    height: 100px;
    width:  100px;
}

.first-title {
    height: 120px;

}

#kamen-pic {
    width: 1000px;
    height: auto;
}

#flowers-pic {
    width: 1000px;
    height: auto;
}
